<section class="section">
  <h1>Proyecto academico Angular</h1>
  <p>    
    Esta SPA esta preparada para practicar conceptos modernos de Angular y consumir el backend
    REST generado previamente.
    Para que el estudiante pueda navegar por la aplicación debe usar el navbar a la izquierda
    para poder visualizar los resultados de lo que va implementando según se indica en el proyecto final.
  </p>

  <article class="card">
    <h2>Informacion del estudiante</h2>
    <p>Nombre: {{ studentName }}</p>
    <p>Curso: {{ course }}</p>
    <p>Paralelo: {{ parallel }}</p>
  </article>

  <h2>Temas del proyecto</h2>
  <ul>
    @for (topic of topics; track topic) {
      <li>{{ topic }}</li>
    }
  </ul>

  <a class="button-link" routerLink="/servicios-http">Ir a Servicios HTTP</a>
</section>
